body{
	background-color: rgb(230,230,230);
	color: rgb(30,30,30);
	font-family: Courier;
}
h1{
	color:#845ec2;
	font-family: 'Kiwi Maru', serif;
	font-weight: 131;
	letter-spacing: 8px;
	font-size: 45px;
}
h2{
	color:#6155a6;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight:bolder;
	letter-spacing:12px;
	font-size:30px;
}

a{
    font-family: 'Kiwi Maru', serif;
    font-size: 17px;
	text-decoration: none;
	color:#98acf8;
	font-weight: bold;
}
a:hover{
	color:#23689b;
	text-decoration: underline;
}
.container{
	width: 700px;
	margin: 40px auto
}

@media(max-width: 750px){
	.container{
		width: 550px
	}
@media(max-width: 500px){
	.container{
		width: 400px
	}
}

.container{
	width: 700px;
	margin: 40px auto;
}

.card-white{
	background-color: white;
	padding: 35px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}
.btn-blue{
	background-color: #98acf8;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover{
	background-color: purple;
	color: white;
}

.list-insline{
	list-style: none;
	padding-left: 0px;
}

.list-insline li{
	display: inline;
	padding: 10px;
}

.list-insline i:hover{
	font-size: 50px;
	color: rgb(230,230,230);
}

#introduction p{
	margin-bottom: 40px;
}